
header { 
    background-image: url(upyoga.jpg); 
    background-repeat: no-repeat; 
    background-position: right center; 
    background-size: contain; 
    height: 150px; 
    background-color: #bed3d4; 
}


h1 { 
    padding-top: 45px; 
    padding-left: 1em; 
    margin: 0;
    font-size: 2.5em; /
}


footer { 
    padding: 1.5em; 
    font-size: 0.85em; 
    font-style: italic; 
    text-align: center;
    background-color: #bed3d4; 
    border-top: 2px solid #3F2860;
    color: #333;
    clear: both;
}
