/* Header Ayarları */
header { 
    background-image: url(upyoga.jpg); 
    background-repeat: no-repeat; 
    background-position: right center; /* Resmi sağa ve dikeyde ortaya hizalar */
    background-size: contain; /* RESMİ KÜÇÜLTÜR: Resmin tamamını kutuya sığdırır */
    height: 150px; 
    background-color: #bed3d4; /* Resmin bittiği yerlerdeki boşluğu bu renkle doldurur */
}

/* Başlık Ayarları */
h1 { 
    padding-top: 45px; 
    padding-left: 1em; /* Logoya yer açmak için biraz sola çektik */
    margin: 0;
    font-size: 2.5em; /* Yazı çok büyük gelirse buradan küçültebilirsin */
}

/* Footer (Copyright Şeridi) */
footer { 
    padding: 1.5em; /* Biraz daha kalın ve dolgun durması için */
    font-size: 0.85em; 
    font-style: italic; 
    text-align: center;
    background-color: #bed3d4; /* Alt şerit rengi */
    border-top: 2px solid #3F2860;
    color: #333;
    clear: both;
}
